<%= @letters %>

  <form action="/score" data-turbo="false">
    <input type="text" name="word">
    <input type="submit" value="Ask!">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
